CruiseControl/obj/Debug/net9.0-android/_Microsoft.Android.Resource.Designer.dll
CruiseControl/obj/Debug/net9.0-android/case_map.txt
CruiseControl/obj/Debug/net9.0-android/CruiseControl.AssemblyInfo.cs
CruiseControl/obj/Debug/net9.0-android/CruiseControl.AssemblyInfoInputs.cache
CruiseControl/obj/Debug/net9.0-android/CruiseControl.assets.cache
CruiseControl/obj/Debug/net9.0-android/CruiseControl.csproj.AssemblyReference.cache
CruiseControl/obj/Debug/net9.0-android/CruiseControl.GeneratedMSBuildEditorConfig.editorconfig
CruiseControl/obj/Debug/net9.0-android/mauiimage.outputs
CruiseControl/obj/Debug/net9.0-android/R.txt
CruiseControl/obj/Debug/net9.0-android/staticwebassets.build.endpoints.json
CruiseControl/obj/Debug/net9.0-android/staticwebassets.build.json
CruiseControl/obj/Debug/net9.0-android/staticwebassets.development.json
CruiseControl/obj/Debug/net9.0-android/staticwebassets.pack.json
CruiseControl/obj/Debug/net9.0-android/staticwebassets.publish.endpoints.json
CruiseControl/obj/Debug/net9.0-android/staticwebassets.publish.json
CruiseControl/obj/Debug/net9.0-android/designtime/build.props
CruiseControl/obj/Debug/net9.0-android/designtime/libraryprojectimports.cache
CruiseControl/obj/Debug/net9.0-android/staticwebassets/msbuild.CruiseControl.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
CruiseControl/obj/Debug/net9.0-ios/iossimulator-x64/CruiseControl.AssemblyInfo.cs
CruiseControl/obj/Debug/net9.0-ios/iossimulator-x64/CruiseControl.AssemblyInfoInputs.cache
CruiseControl/obj/Debug/net9.0-ios/iossimulator-x64/CruiseControl.assets.cache
CruiseControl/obj/Debug/net9.0-ios/iossimulator-x64/CruiseControl.csproj.AssemblyReference.cache
CruiseControl/obj/Debug/net9.0-ios/iossimulator-x64/CruiseControl.GeneratedMSBuildEditorConfig.editorconfig
CruiseControl/obj/Debug/net9.0-ios/iossimulator-x64/CruiseControl.nfloat.g.cs
CruiseControl/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/CruiseControl.AssemblyInfo.cs
CruiseControl/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/CruiseControl.AssemblyInfoInputs.cache
CruiseControl/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/CruiseControl.assets.cache
CruiseControl/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/CruiseControl.csproj.AssemblyReference.cache
CruiseControl/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/CruiseControl.GeneratedMSBuildEditorConfig.editorconfig
CruiseControl/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/CruiseControl.nfloat.g.cs
CruiseControl/obj/Debug/net9.0-windows10.0.19041.0/win10-x64/CruiseControl.AssemblyInfo.cs
CruiseControl/obj/Debug/net9.0-windows10.0.19041.0/win10-x64/CruiseControl.AssemblyInfoInputs.cache
CruiseControl/obj/Debug/net9.0-windows10.0.19041.0/win10-x64/CruiseControl.assets.cache
CruiseControl/obj/Debug/net9.0-windows10.0.19041.0/win10-x64/CruiseControl.csproj.AssemblyReference.cache
CruiseControl/obj/Debug/net9.0-windows10.0.19041.0/win10-x64/CruiseControl.GeneratedMSBuildEditorConfig.editorconfig
CruiseControl/obj/Debug/net9.0-windows10.0.19041.0/win10-x64/staticwebassets.build.endpoints.json
CruiseControl/obj/Debug/net9.0-windows10.0.19041.0/win10-x64/staticwebassets.build.json
CruiseControl/obj/Debug/net9.0-windows10.0.19041.0/win10-x64/staticwebassets.development.json
CruiseControl/obj/Debug/net9.0-windows10.0.19041.0/win10-x64/staticwebassets.pack.json
CruiseControl/obj/Debug/net9.0-windows10.0.19041.0/win10-x64/staticwebassets.publish.endpoints.json
CruiseControl/obj/Debug/net9.0-windows10.0.19041.0/win10-x64/staticwebassets.publish.json
CruiseControl/obj/Debug/net9.0-windows10.0.19041.0/win10-x64/staticwebassets/msbuild.CruiseControl.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
