.page[b-6ndedltt6g] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-6ndedltt6g] {
    flex: 1;
}

.sidebar[b-6ndedltt6g] {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px; /* Hide by default */
    background-color: #f0f0f0;
    transition: left 0.3s ease;
}

.sidebar.visible[b-6ndedltt6g] {
    left: 0; /* Show when visible class is added */
}

.navbar-toggler[b-6ndedltt6g] {
    background: none;
    border: none;
    cursor: pointer;
}

.navbar-toggler-icon[b-6ndedltt6g] {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


.top-row[b-6ndedltt6g] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-6ndedltt6g]  a, .top-row[b-6ndedltt6g]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-6ndedltt6g]  a:hover, .top-row[b-6ndedltt6g]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-6ndedltt6g]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-6ndedltt6g] {
        justify-content: space-between;
    }

        .top-row[b-6ndedltt6g]  a, .top-row[b-6ndedltt6g]  .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page[b-6ndedltt6g] {
        flex-direction: row;
    }

    .sidebar[b-6ndedltt6g] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-6ndedltt6g] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-6ndedltt6g]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-6ndedltt6g], article[b-6ndedltt6g] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
